body{
    background-color: beige;
}

.header{
    display: flex;
flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;

}
.header-logo{
    height: 50px;
font-family: cursive;
}
.image1{
    height: 2px;
    width: 1px;
}
.mid-section{
    font-weight: unset;
    display: flex;
    justify-content: space-between;
    height: 0ch;
    padding-bottom: 50px;
} 
#black{
    text-align: center;
}
.header-shopping-bag{
    color: brown;
}
